<h1>MVC Async</h1>


<h3>Copy the following urls to the browser to see async query in action</h3>

<ul>
	<li>Home/QueryExecuteReaderAsync</li>
	<li>Home/StoredProcedureExecuteReaderAsync</li>
	<li>Home/QueryExecuteSingleAsync</li>
	<li>Home/StoredProcedureExecuteNonQueryAsync</li>
</ul>